# Prerequisites
*.d

# Object files
*.slo
*.lo
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/sloeber.ino.cpp
/Release/
.cproject
.project
.settings

# Visual Studio local files
.vscode/
.vs/
CppProperties.json
*.vcxproj*
*.sln

# cmake Specific
out/
**build/

# doxygen output
docs/html/
docs/xml/

# macOS specific
DS_Store/
